.container {
    max-width: 800px; /* Largura máxima para o contêiner */
    margin: auto; /* Centraliza o contêiner */
    padding: 20px;
}

.heading {
    text-align: left;
    font-weight: 1000;
    font-size: 40px;
    color: rgb(16, 137, 211);
}

.form {
    margin-top: 20px;
    background: #f8f9fd; /* Cor de fundo do formulário */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: rgba(133, 189, 215, 0.5) 0px 10px 20px -10px; /* Sombra leve */
}

.form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.patient-list {
    background: #ffffff; /* Fundo branco */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    box-shadow: rgba(133, 189, 215, 0.5) 0px 10px 20px -10px; /* Sombra leve */
    margin-top: 20px; /* Espaçamento acima da lista */
}

.table {
    width: 100%; /* Largura total da tabela */
    border-collapse: collapse; /* Colapsa as bordas */
}

.table th, .table td {
    padding: 10px; /* Espaçamento nas células */
    border: 1px solid #ddd; /* Borda leve nas células */
}

.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}


.table {
    margin-top: 20px; /* Espaço acima da tabela */
}

.table th {
    background-color: rgb(16, 137, 211);
    color: white;
    text-align: center; 
}

.table td {
    vertical-align: middle; 
}

.table tr:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse sobre a linha */
}

.table .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; /* Cor de fundo para linhas ímpares */
}
